{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>TRAVELER - Экскурсии Сочи</title>
{% endblock %}


{% block content %}
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static '/logic_app/images/about.jpg' %}"
                         style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 3px;"><strong>О нас</strong></h6>
                    <h1 class="mb-3">Мы предоставляем лучшие туристические пакеты в вашем бюджете</h1>
                    <p>Добро пожаловать в ЭТОСИРИУС!</p>
                    <p>
                        Мы - команда опытных специалистов в области туризма, которая стремится сделать каждое ваше
                        путешествие незабываемым. Наша цель - предоставить клиентам высочайший уровень сервиса и
                        комфорта, чтобы они могли насладиться каждым моментом своего отдыха.
                    </p>

                    <p><strong>Что делает нас особенными?</strong></p>

                    <p>
                        <strong>1. Индивидуальный подход:</strong>
                        Мы понимаем, что каждый клиент уникален, поэтому мы
                        разрабатываем персонализированные туры, учитывая ваши предпочтения и интересы. Мы стараемся
                        сделать каждое путешествие идеально подходящим для вас.<br>

                        <strong>2. Высокое качество услуг:</strong>
                        Мы гордимся своим высоким уровнем сервиса и качеством услуг.
                        Наша команда состоит из профессионалов, которые стремятся к безупречности во всем, от
                        планирования маршрутов до организации развлечений и экскурсий. <br>

                        <strong>3. Гарантия безопасности:</strong>
                        Мы придаем большое значение безопасности наших клиентов. Мы
                        работаем только с проверенными партнерами и обеспечиваем надежное сопровождение во время
                        поездки, чтобы каждый момент вашего путешествия был спокоен и безопасен.
                    </p>
                    <p>
                        С уважением, Команда ЭТОСИРИУС
                    </p>
                    <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid" src="{% static '/logic_app/images/about-1.jpg' %}" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="{% static '/logic_app/images/about-2.jpg' %}" alt="">
                        </div>
                    </div>
                    <a href="" class="btn btn-primary mt-1">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="image-container-fea">
                    <img src="{% static 'logic_app/images/1.png' %}" alt="">
                </div>
                <div class="flex-column">
                    <h4 class="text-container-h4">Конкурентное ценообразование</h4>
                    <p class="m-0">Это один из ключевых принципов нашей
                        работы. Мы
                        постоянно стремимся предлагать высокое качество услуг по оптимальным ценам, чтобы
                        сделать путешествия доступными для всех наших клиентов.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-container-fea">
                    <img src="{% static 'logic_app/images/2.png' %}" alt="">
                </div>
                <div class="flex-column">
                    <h4 class="text-container-h4">Лучший сервис</h4>
                    <p class="m-0">Добро пожаловать в нашу туристическую компанию, где лучший сервис - наша
                        гордость. Мы гарантируем высокое качество обслуживания, профессионализм наших
                        сотрудников и множество положительных эмоций. Рады помочь вам сделать
                        ваше путешествие незабываемым!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-container-fea">
                    <img src="{% static 'logic_app/images/3.png' %}" alt="">
                </div>
                <div class="flex-column">
                    <h4 class="text-container-h4">Гибкие условия бронирования</h4>
                    <p class="m-0">Которые позволяют нашим клиентам
                        комфортно планировать свои поездки. Это включает гибкие правила отмены, возможность
                        изменения дат или услуг без дополнительных затрат, что делает процесс бронирования
                        удобным и безопасным</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

{% endblock %}