{% extends 'base.html' %}

{% load static %}
{% load owner_tags %}

{% block title %}
<title>{{ excursion.title }} - Экскурсии Сочи</title>
{% endblock %}


{% block content %}


{% show_carousel form %}

<!-- Blog Start -->
<div class="container-fluid py-0">
    <div class="container py-0">
        <div class="row">
            <div class="col-lg-12">
                <!-- Blog Detail Start -->

                <div class="pb-3">
                    <div class="bg-white mb-3" style="padding: 30px;">
                        <h2 class="mb-3">{{ excursion.title }}</h2>
                        <p>{{ excursion.description }}</p>
                        {% for location in locations %}
                        <h4 class="mb-3" style="max-height: 250px; max-width: 350px;">{{ location.title }}</h4>
                        <img class="img-fluid w-50 {% cycle 'float-left mr-4' 'float-right ml-4' %} mb-2"
                             src="{{ location.location_photo.url }}" style="max-height: 250px; max-width: 350px;">
                        <p>{{ location.short_info }}</p>
                        {% endfor %}
                    </div>
                    {% include 'logic_app/includes/booking.html' with form=form %}
                </div>

                {% if reviews %}
                <!-- Reviews List Start -->
                <div class="bg-white" style="padding: 30px; margin-bottom: 30px;">
                    <div id="reviews-container">
                        {% for review in reviews %}
                        <div class="media mb-4">
                            <div class="media-body">
                                <h6><a href="">{{ review.name }}</a> <small><i>{{ review.created_at }}</i></small></h6>
                                <p>{{ review.review }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if has_more is True %}
                    <button id="load-more" data-page="1" data-slug="{{ excursion.slug }}" style="background-color: rgb(122, 183, 48); color: white; border: none; padding: 10px 20px; cursor: pointer;">Загрузить еще</button>
                    {% endif %}
                </div>
                {% endif %}
                <!-- Reviews List End -->
                <script>
                    document.getElementById('load-more').addEventListener('click', function() {
                        var button = this;
                        var page = parseInt(button.getAttribute('data-page')) + 1;
                        var slug = button.getAttribute('data-slug');

                        fetch(`/load-more-reviews/?slug=${slug}&page=${page}`)
                            .then(response => response.json())
                            .then(data => {
                                var container = document.getElementById('reviews-container');
                                data.reviews.forEach(function(review) {
                                    var reviewDiv = document.createElement('div');
                                    reviewDiv.classList.add('media', 'mb-4');
                                    reviewDiv.innerHTML = `
                                        <div class="media-body">
                                            <h6><a href="#">${review.name}</a> <small><i>${review.created_at}</i></small></h6>
                                            <p>${review.review}</p>
                                        </div>
                                    `;
                                    container.appendChild(reviewDiv);
                                });
                                if (data.has_more) {
                                    button.setAttribute('data-page', page);
                                } else {
                                    button.style.display = 'none';
                                }
                            });
                    });
                </script>
            </div>
        </div>
    </div>
</div>


{% endblock %}