{% extends 'base.html' %}
{% load static %}
{% load owner_tags %}

{% block title %}
<title>TRAVELER - Экскурсии Сочи</title>
{% endblock %}

{% block content %}
<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static '/logic_app/images/carousel-1.jpg' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Туры & Экскурсии</h4>
                        <h1 class="display-3 text-white mb-md-4">Давайте откроем мир вместе</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Забронировать</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static '/logic_app/images/carousel-2.jpg' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Туры & Экскурсии</h4>
                        <h1 class="display-3 text-white mb-md-4">Откройте для себя удивительные места вместе с нами</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Забронировать</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>

<!-- Carousel End -->


{% show_destination categories %}


<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Сервис</h6>
            <h1>Туры & Туристические услуги</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                    <h5 class="mb-2">Путеводитель</h5>
                    <p class="m-0">Путеводитель предлагает разнообразные маршруты, каждый
                        из них уникален и позволяет туристам наслаждаться разнообразием красот и
                        впечатлений.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                    <h5 class="mb-2">Бронирование билетов</h5>
                    <p class="m-0">Бронируйте билеты на экскурсии легко и быстро онлайн с нами! Гарантированные
                        места и удобный онлайн процесс бронирования делают путешествие приятным.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                    <h5 class="mb-2">Остановки</h5>
                    <p class="m-0">Наши остановки находятся рядом с отелями. Вам будет предоставлен адрес и
                        геолокация ближайшей остановки, чтобы ваше
                        путешествие началось с удобства и комфорта.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


{% show_package excursion %}
<div class="text-center">
    <a href="{% url 'all_excursion' %}" class="btn btn-primary py-md-3 px-md-5 mt-2">Открыть все экскурсии</a>
</div>



<!-- Testimonial Start -->
<!--    <div class="container-fluid py-5">-->
<!--        <div class="container py-5">-->
<!--            <div class="text-center mb-3 pb-3">-->
<!--                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>-->
<!--                <h1>What Say Our Clients</h1>-->
<!--            </div>-->
<!--            <div class="owl-carousel testimonial-carousel">-->
<!--                <div class="text-center pb-4">-->
<!--                    <img class="img-fluid mx-auto" src="img/testimonial-1.jpg" style="width: 100px; height: 100px;">-->
<!--                    <div class="testimonial-text bg-white p-4 mt-n5">-->
<!--                        <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod-->
<!--                            eos labore diam-->
<!--                        </p>-->
<!--                        <h5 class="text-truncate">Client Name</h5>-->
<!--                        <span>Profession</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="text-center">-->
<!--                    <img class="img-fluid mx-auto" src="img/testimonial-2.jpg" style="width: 100px; height: 100px;">-->
<!--                    <div class="testimonial-text bg-white p-4 mt-n5">-->
<!--                        <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod-->
<!--                            eos labore diam-->
<!--                        </p>-->
<!--                        <h5 class="text-truncate">Client Name</h5>-->
<!--                        <span>Profession</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="text-center">-->
<!--                    <img class="img-fluid mx-auto" src="img/testimonial-3.jpg" style="width: 100px; height: 100px;">-->
<!--                    <div class="testimonial-text bg-white p-4 mt-n5">-->
<!--                        <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod-->
<!--                            eos labore diam-->
<!--                        </p>-->
<!--                        <h5 class="text-truncate">Client Name</h5>-->
<!--                        <span>Profession</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="text-center">-->
<!--                    <img class="img-fluid mx-auto" src="img/testimonial-4.jpg" style="width: 100px; height: 100px;">-->
<!--                    <div class="testimonial-text bg-white p-4 mt-n5">-->
<!--                        <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod-->
<!--                            eos labore diam-->
<!--                        </p>-->
<!--                        <h5 class="text-truncate">Client Name</h5>-->
<!--                        <span>Profession</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!-- Testimonial End -->

{% endblock %}
