{% load owner_tags %}
<!-- Destination Start -->
<div class="container-fluid py-3">
    <div class="container pt-3 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Направления</h6>
            <h1><strong>Исследуйте лучшие направления</strong></h1>
        </div>
        <div class="row">
            {% for category in categories %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="{{category.category_photo.url}}" alt="">
                    <a class="destination-overlay text-white text-decoration-none"
                       href="{{ category.get_absolute_url }}">
                        <h5 class="text-white">{{ category.title }}</h5>
                        {% if category.excursion_count == 1 %}
                        <span>Одна экскурсия</span>
                        {% elif category.excursion_count < 5 %}
                        <span>{% digit_to_text category.excursion_count True %} экскурсии</span>
                        {% else %}
                        <span>{% digit_to_text category.excursion_count True %} экскурсий</span>
                        {% endif %}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Destination End -->
