{% load static %}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-6 mb-5">
            <a href="" class="navbar-brand">
                <h1 class="text-primary"><span class="text-white">ЭТО</span>СИРИУС</h1>
            </a>
            <p>Добро пожаловать в ЭТОСИРИУС!<br>Мы — твои проводники в мир приключений Сочи!<br>Горные вершины, пляжи, парки,
                культура и вкусная кухня ждут.<br>Присоединяйся к нам и открой для себя Сочи с новой стороны!</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Навигация по сайту</h5>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" href="{% url 'main_page' %}"><i class="fa fa-angle-right mr-2"></i>Главная
                    страница</a>
                <a class="text-white-50 mb-2" href="{% url 'all_excursion' %}"><i class="fa fa-angle-right mr-2"></i>Экскурсии</a>
                <a class="text-white-50 mb-2" href="{% url 'gallery_reviews' %}"><i class="fa fa-angle-right mr-2"></i>Отзывы</a>
                <a class="text-white-50 mb-2" href="{% url 'about_us' %}"><i class="fa fa-angle-right mr-2"></i>О
                    нас</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Контакты</h5>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Сочи</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+7 (909) 400-96-40 (Данил Алексеевич)</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+7 (989) 517-90-43 (Полина Сергеевна)</p>
            <p><i class="fa fa-envelope mr-2"></i>etosirius@yandex.ru</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
     style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white-50">Copyright &copy; <a href="#">Domain</a>. All Rights Reserved.</a>
            </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <p class="m-0 text-white-50">Designed by <a href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'logic_app/js/easing/easing.min.js' %}"></script>
<script src="{% static 'logic_app/js/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'logic_app/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'logic_app/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'logic_app/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>


<!-- Template Javascript -->
<script src="{% static 'logic_app/js/main.js' %}"></script>
<script src="{% static 'logic_app/js/scripts.js' %}"></script>
