{% load owner_tags %}

<!-- Packages Start -->
<div class="container-fluid py-3" style="padding-bottom: 1px !important;">
    <div class="container pt-3 pb-3" style="padding-bottom: 1px !important;">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Экскурсии</h6>
            <h1>Самые популярные туристические пакеты</h1>
        </div>
        <div class="row">
            {% for excursion_data in excursion %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid" src="{{ excursion_data.header_photo.url }}" alt="">
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>{{ excursion_data.geo }}</small>

                            <small>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                     style="color: #7AB730;"
                                     class="bi bi-clock-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                                </svg>


                                <a>
                                    {% get_hours excursion_data.duration %}
                                </a>
                            </small>
                        </div>

                        <a class="h5 text-decoration-none" href="{{ excursion_data.get_absolute_url }}">{{ excursion_data.title }}</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                {% if excursion_data.location_count > 0 %}
                                {% if excursion_data.location_count == 1 %}
                                <h6 class="m-0"><i class="fa text-primary mr-2">Включает в себя<br/>
                                    {% digit_to_text excursion_data.location_count %} локацию</i><small></small></h6>
                                {% elif excursion_data.location_count < 5 %}
                                <h6 class="m-0"><i class="fa text-primary mr-2">Включает в себя<br/>
                                    {% digit_to_text excursion_data.location_count %} локации</i><small></small></h6>
                                {% else %}
                                <h6 class="m-0"><i class="fa text-primary mr-2">Включает в себя<br/>
                                    {% digit_to_text excursion_data.location_count %} локаций</i><small></small></h6>
                                {% endif %}
                                {% endif %}
                                <h5 class="m-0">{{ excursion_data.price }} ₽</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Packages End -->