<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Сервис</h6>
            <h1>Туристические услуги</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                    <h5 class="mb-2">Путеводитель</h5>
                    <p class="m-0">Путеводитель предлагает разнообразные маршруты, каждый
                        из них уникален и позволяет туристам наслаждаться разнообразием красот и
                        впечатлений.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                    <h5 class="mb-2">Бронирование билетов</h5>
                    <p class="m-0">Бронируйте билеты на экскурсии легко и быстро онлайн с нами! Гарантированные
                        места и удобный онлайн процесс бронирования делают путешествие приятным.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                    <h5 class="mb-2">Остановки</h5>
                    <p class="m-0">Наши остановки находятся рядом с отелями. Вам будет предоставлен адрес и
                        геолокация ближайшей остановки, чтобы ваше
                        путешествие началось с удобства и комфорта.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->