.image-container-fea {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.image-container-fea img {
    width: 100px;
    height: 100%;
    object-fit: cover; /* Сохранение пропорций и заполнение контейнера */
    shape-outside: border-box; /* Форма текста вокруг картинки (с учетом границы) */
    shape-margin: 20px; /* Расстояние между текстом и картинкой */
}


.text-container-h4 {
    word-break: normal; /* По умолчанию */
}

@media only screen and (max-width: 1200px) {
    .text-container-h4 {
        word-break: break-all; /* Применить на мобильных устройствах и планшетах */
    }
}

.time-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #4CAF50; /* зелёный цвет */
  border-radius: 50%;
  text-align: center;
  line-height: 20px; /* белый текст на зелёном фоне */
}


.search-form {
    position: relative;
    border: 1px solid #7AB730; /* Зелёные границы */
    border-radius: 10px; /* Округление углов */
    max-width: 200px;
    overflow: hidden; /* Скрытие части значка за границами формы */
}

.search-input {
    width: calc(100% - 32px); /* Ширина поля ввода с учётом размера значка и отступа */
    padding: 6px; /* Внутренний отступ */
    border: none; /* Убираем стандартные границы у поля ввода */
    outline: none; /* Убираем рамку при фокусе */
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}